.App {
  text-align: center;
  overflow: hidden !important;
  background-color: #282c34;
}

.App-header {
  height: 6.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  color: white;
}

.AppNameLabel {
  margin-top: 0;
  font-weight: bold;
}

.ApiUrlInput {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 8px;
  padding: 0.25rem;
  color: white;
}

.ApiUrlLabel {
  position: absolute;
  left: 0.25rem;
  bottom: 80%;
  color: white;
  font-size: 12px;
  text-align: left;
}
