.App {
  height: calc(min(100vh, 450px));
  width: calc(min(100vw, 1000px));
  position: relative;
  text-align: center;
  overflow: hidden !important;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  color: white;
}

.AppNameLabel {
  margin-top: 0;
  font-weight: bold;
}

.ApiUrlInput {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 8px;
  padding: 0.25rem;
  color: white;
  width: 10rem;

  &.Select {
    width: 11rem;

    > Option {
      background-color: #282c34;
      color: white;
    }
  }
}

.ApiUrlLabel {
  position: absolute;
  left: 0.25rem;
  bottom: 80%;
  color: white;
  font-size: 12px;
  text-align: left;
}
